#articulos{
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;   
}
#articulos .contenedor{
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

#articulos img{
    max-width: 280px;
    height: 250px;
}

#articulos article{
    max-width: 280px;
    text-align: center;
    margin: 15px;
}
h3, h4{
    text-align: center;
}